.buttonsContainer {
    display: flex;
    gap: 15px;
}

.responseContainer {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.imageContainer {
    width: 600px;
}

.image {
    width: 600px;
}

.textContainer {
    width: 600px;
}

.code {
    font-size: 24px;
}

.text {
    margin-top: 30px;
}

.info {
}