.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    padding-top: 20px;
}

.rowHeader {
    display: flex;
}

.loading {

}